
/* CSS Styles */

/* Fonts import */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/* Reset */
*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav,
main,
section,
footer,
q,
cite {
  display: block;
}

/* Main sets */

body {
  color: #eee;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.App {
  background-color: #eee;
  height: 100vh;
}


/* Spiner made by @tobiasahlin */

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.5s infinite ease-in-out;
  animation: sk-rotateplane 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* Styles for box with quote */
#quote-box {
  background-color: #666;
  color: rgb(250, 255, 255);
  height: auto;
  left: 50%;
  margin: 0 auto;
  padding: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
}

/* Styles for quote */
q {
  font-size: 1.5em;
  text-align: center;
}

/* Styles for author */
cite {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

cite:before {
  content: '~';
}

/* Styles for box with buttons */
.buttons {
  float: right;
  position: relative;
  top: 20px;
}

a {
  margin-right: 20px;
  padding: 10px;
}

button {
  padding: 12px 10px;
}

button,
a {
  background-color: #12917c;
  border: none;
  color: #eee;
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  width: 140px;
}

button:hover,
a:hover {
  background-color: #087765;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 580px) {  
  .buttons {
    width: 100%;
  }

  button,
  a {
    width: 100%;
  }

  a {
    margin-bottom: 10px;
  }

}